* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,
 body {
     height: 100%;
     width: 100%
 }

 html{
    font-size: clamp(14px, 1.5vw, 18px);
 }
body{
    background-color: #0c0c0c;
    color: rgb(240, 232, 232);
    font-family: sans-serif;
}

section{
    max-width: 1600px;
    margin: auto;
}
 main{
    width: 100%;
 }

 section.view1{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

.top{
    width: 100%;
}

.top img{
    width: 100%;
    border-radius: 1rem;
}

.view1 .bottom{
    background-color: #2e2e2e;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.text h1{
    font-weight: 100;
    line-height: 1.3;
}

.text button{
    border: none;
    background-color: #2e2e2e;
    color: #ffffff;
}

.text p{
    color: #8f8d8d;
    line-height: 1.6;
}

.view2{
   width: 100%;
   padding: 1rem;
}

.view2 .top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}

.view2 .bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

small{
    color: #8f8d8d;
    line-height: 1.6;
}

.element h2{
    font-weight: 400;
}

.view3{
    padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.view3 .bottom{
    background-color: #2e2e2e;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.view3 .paragraph p{
    line-height: 1.7;
    font-size: 1.34rem;
    word-spacing: 0.5em;
}

.paragraph p{
    line-height: 1.7;
    font-size: 1.3rem;
    word-spacing: 0.1em;
}

.view4{
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 1.1rem;
}

.view4 .bottom{
    background-color: #2e2e2e;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.team h1{
    font-weight: 100;
    padding: 1rem;
}

section.view5{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.card{
    width: 100%;
    background-image: url(./arlene.webp);
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}   

.view5 .top{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.icon{
    width: fit-content;
    border-radius: 50%;
    background-color: rgba(84, 84, 84, 0.375); 
    backdrop-filter: blur(5px);
    border: 1px solid rgba(124, 124, 124, 0.918);
    padding: 0.5rem;
}

.view5 .bottom{
    background-color: rgba(84, 84, 84, 0.375);
    backdrop-filter: blur(10px);
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.5;
    padding: 0.5rem 1rem;
}

.card2{
    width: 100%;
    background-image: url(./brandon.webp);
    background-size: cover;
    padding: 1rem;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card3{
    width: 100%;
    background-image: url(./mevene.webp);
    background-size: cover;
    padding: 1rem;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.view6{
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.view6 .bottom{
    background-color: #2e2e2e;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.button{
    display: flex;
    gap: 10px;
}

.view6 button{
    border: 0.3px solid rgb(159, 152, 152);
    color: rgb(248, 248, 248);
    background-color: transparent;
    border-radius: 50%;
    padding: 0.4rem;
}

a{
    text-decoration: none;
    color: rgb(220, 210, 210);
}

.view7{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #cebd63;
    border-radius: 1rem;
    color: #0c0c0c;
    margin: 1rem;
}

.top h1{
    font-weight: 100;
    line-height: 1.3;
    font-size: 3.1rem;
    word-spacing: 6px;
}

.view7 .touch{
    background-color: #050505;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.view7 button{
    border: none;
    background-color: #080808;
    color: #f7f4f4;
}

@media (min-width:900px){
 main{
    section.view1{
        flex-direction: row;
    }
    .view1 .top{
      width: 50%;
    }

    .view1 .bottom{
        padding: 2rem;
        justify-content: space-between;
        font-size: 1.1rem;
        width: 50%;
    }

    .bottom h1{
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 100;
    }  
   section.view2{
    display: flex;
    flex-direction: row;
   }

   .view3{
    flex-direction: row-reverse;
   }

   .view3 .top{
     width: 50%;
   }
    .view3 .bottom{
     width: 50%;   
     padding: 2rem;
     justify-content: space-between;
   }

   .view3 .paragraph p{
    font-size: 1rem;
    word-spacing: 0;
   }

   .view3 h1{
    font-size: 1.9rem;
   }

   .view4{
    display: flex;
    flex-direction: row;
   }
    .view4 .top{
      width: 50%;
    }

   .view4 .bottom{
    width: 50%;
     padding: 2rem;
     justify-content: space-between;
   }

    .view4 h1{
    font-size: 2.2rem;
   }
    .paragraph {     
     display: flex;
     flex-direction: row;
     gap: 1.2rem;
    }

    .paragraph p{
        font-size: 1rem;
        word-spacing: 0;
    }
    section.view5{
        flex-direction: row;
    }   
    .view6{
         flex-direction: row;
    } 
    .view6 .top{
      width: 50%;
    }
    .view6 .bottom{
        padding: 1.5rem;
        width: 50%;
        justify-content: space-between;
    }
    .view6 h1{
        font-size: 2rem;
        margin-right: 3rem;
    }

    .view7{
        flex-direction: row;
        padding: 2rem;
    }

    .view7 .top{
        width: 60%;
    }

    .view7 .bottom{
        width: 40%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0.9rem;
    }

    .view7 .touch{
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    .top h1{
        font-size: 3.1rem;
        word-spacing: 0;
    }
    a{
        font-size: 0.7rem;
    }
}    
} 